{% extends 'monitoringApp/base.html' %}

{% block sciezka %}
	<p>
		<a href="{% url 'monitoring:monitoring_url' %}">All websites</a>
		<a href="{% url 'monitoring:with_errors_url' %}">With errors</a>
	</p>
{% endblock sciezka %}
{% block content %}
	<h2>Websites:</h2>
	<p><a href="{% url 'monitoring:add_website_url' %}" class="link-primary link-offset-2 link-underline-opacity-50">Add website</a></p>
	<ul>
		{% for website in websites %}
		<li>
	        {{ website.id }} |
	        <a href="{% url 'monitoring:website_history_url' website.id %}" class="link-primary">
				<span class="my_url">{{ website.site_url }}</span>
			</a> |
	        <span class="page_info">Time Interval:</span> {{ website.time_interval }} min |
			<span class="page_info">Status:</span> <span class="status_code">{{ website.status_code }}</span>
	        
			<a href="{% url 'monitoring:modify_website_url' website.id %}">
				<button class="btn btn-outline-warning">Modify</button>
			</a>
			<a href="{% url 'monitoring:delete_website_url' website.id %}">
				<button class="btn btn-outline-danger">Delete</button>
			</a>
	    </li>
		{% empty %}
		<p>There is no url on your list.</p>
		{% endfor %}
	</ul>
{% endblock content %}